@{
    ViewBag.Title = "About - Pandabook";
    ViewBag.Subtitle = "A collision of Facebook, stocks, and pandas";
}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-50657305-1', 'rit.edu');
    ga('send', 'pageview');

</script>
<hgroup class="title"></hgroup>

<article>
    <section class="card">
        <h1>@ViewBag.Subtitle</h1>
        <p>
            PandaBook is the penultimate source of your Facebook news feed,
            current stock data, and pandas. The project is being developed by a small team of rookie web
            engineers for an independednt client who shall remain nameless.
            Throughout its development expect steady iterations of new
            content and functionality.
        <p />
    </section>
</article>